<!DOCTYPE html>
<html>
<head>
  <title>Login TikTok</title>
</head>
<body>
  <h1>Login com TikTok</h1>
  <a href="https://www.tiktok.com/auth/authorize?client_key=<%= clientKey %>&response_type=code&scope=user.info.basic&redirect_uri=<%= encodeURIComponent(redirectUri) %>&state=state123&code_challenge=challenge&code_challenge_method=plain">Fazer login com TikTok</a>
</body>
</html>
